.home-internals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.home-internals h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.home-internals hr{
    width: 250px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.home-internals-left{
    display: flex;
}
.home-internals-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-internals-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 220px;
    height: 50px;
    border-radius: 75px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
}
.home-internals-btn:hover{
    cursor: pointer;
    background: #cf1a1a;
}